<template>
    <div class="card justify-content-center">
      <div class="card card-header">      <div class="card card-header">Ajouter un nouvel utilisateur</div>
      </div>
        <div class="container">
            <!---heading---->
            <header class="heading"> Registration-Form</header><hr></hr>
            <!---Form starting---->
            <div class="row ">
                <div class="card-body">
                <!--- For Name---->
                <div class="col-sm-12">
                    <div class="row form-group">
                        <div class="col-xs-4">
                            <label class="firstname">First Name :</label> </div>
                        <div class="col-xs-8">
                            <input type="text" name="fname" id="fname" placeholder="Enter your First Name" class="form-control " v-model="name">
                            <span v-if="errors.name" class="errors" >{{errors.name[0]}}</span>

                        </div>
                    </div>
                </div>



                <!-----For email---->
                <div class="col-sm-12">
                    <div class="row form-group">
                        <div class="col-xs-4">
                            <label class="mail" >Email :</label></div>
                        <div class="col-xs-8"	>
                            <input type="email" name="email"  id="email"placeholder="Enter your email" class="form-control" v-model="email" >
                            <span v-if="errors.email" class="errors" >{{errors.email[0]}}</span>
                        </div>
                    </div>
                </div>
                <!-----For Password and confirm password---->
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-xs-4">
                            <label class="pass">Password :</label></div>
                        <div class="col-xs-8">
                            <input type="password" name="password" id="password" placeholder="Enter your Password" class="form-control" v-model="password">
                            <span v-if="errors.password" class="errors" >{{errors.password[0]}}</span>

                        </div>
                    </div>
                </div>

                <!-----------For Phone number-------->
                <div class="col-sm-12 form-group">

                    <div class="col-sm-12">
                        <div class="btn btn-warning" v-on:click="addNewUser()">Submit</div>
                    </div>
                </div>
                </div>
            </div>


        </div>

    </div>


</template>
<script>


    export default {

        data () {
            return {
                name: '',
                email:'',
                password :'',
                errors:[]
            }
        },
        mounted(){
            this.getUsers()
        },
        methods : {
            addNewUser(){
                this.errors=[]
                console.log(this.name)
                axios.post('/api/users',{
                    name:this.name,
                    email:this.email,
                    password: this.password

                }).then(response=>{
                    console.log(response)
                }).catch(error=>{
                    console.log(error)
                    if (error.response.status==422){
                        this.errors=error.response.data.errors
                    }
                })
            },

            getUsers(){
                axios.get('/api/users').then(response =>
                    this.users=response.data
                )
            }
        }

    }
</script>
<style>

</style>