<template>
    <div>
        <h2>Create New  User</h2>
        <div class="container">
            <!---heading---->
            <header class="heading"> Edit -Form</header><hr></hr>
            <!---Form starting---->
            <div class="row ">
                <!--- For Name---->
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-xs-4">
                            <label class="firstname">First Name :</label> </div>
                        <div class="col-xs-8">
                            <input type="text" name="fname" id="fname" placeholder="Enter your First Name" class="form-control " v-model="name">
                        </div>
                    </div>
                </div>



                <!-----For email---->
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-xs-4">
                            <label class="mail" >Email :</label></div>
                        <div class="col-xs-8"	>
                            <input type="email" name="email"  id="email"placeholder="Enter your email" class="form-control" v-model="email" >
                        </div>
                    </div>
                </div>
                <!-----For Password and confirm password---->
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-xs-4">
                            <label class="pass">Password :</label></div>
                        <div class="col-xs-8">
                            <input type="password" name="password" id="password" placeholder="Enter your Password" class="form-control" v-model="password">
                        </div>
                    </div>
                </div>

                <!-----------For Phone number-------->
                <div class="col-sm-12">

                    <div class="col-sm-12">
                        <div class="btn btn-warning" v-on:click="updateUser()">Submit</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: "edit",
        props: ['id'],
        data () {
            return {
                name: '',
                email:'',
                password :''
            }
        },
        mounted(){
            axios.get('/api/users/'+this.id).then(response => {
                console.log(this.id)
                var user = response.data
                this.name = user.name
                this.email = user.email


            }).catch(err=> {
                console.log(err)
            })
        },
        methods : {
            updateUser(){
                axios.put('/api/users/'+this.id,{
                    name : this.name,
                    email :this.email
                }).then(response=>{
                        console.log('/api/users/'+this.id)
                        console.log(response)
                    console.log(this.name )
                    }
                ).catch(e=>{
                    console.log(e)
                })
            }



        }
    }


</script>

<style scoped>

</style>