<template>
    <div class="container">


        <nav class="navbar navbar-expand-lg navbar-collapse bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand" href="#">Hidden brand</a>
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
                </form>
            </div>
        </nav>



        <div class="card">
            <div class="card-header">Vue-Js , Vue-router , VueX</div>
            <div class="card-body">
                <h2>{{welcome}}</h2>
            </div>
        </div>

    </div>

</template>

<script>
    export default {
        name:'home',
        mounted() {
            console.log('Component mounted.')
        },
        computed :{
            welcome(){
                return this.$store.getters.welcome
            }
        }
    }
</script>
