<template>
<div>
    <h2>Users List</h2>
    <a href="/user/create" class="btn btn-success pull-right">Ajouter</a>

    <table class="table table-bordered">
        <thead>
        <tr>
        <th>ID</th>

        <th>Name</th>
        <th>Email</th>
        <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr v-for="(user,index) in users">
            <td>{{ user.id}}</td>
            <td>{{ user.name}}</td>
            <td>{{ user.email}}</td>
            <td>
                <router-link :to="{ name: 'edit', params: { id: user.id }}"  class="btn-primary">Edit</router-link>
                <a href="" class="btn-primary" v-on:click="deleteUser(user.id , index)">Delete</a>

            </td>
        </tr>
        </tbody>
    </table>

    <button class="pagination" v-on:click="fetchPaginateUsers(pagination.prev_page_url)" :disabled="!pagination.prev_page_url">Précédent</button>
   <span> {{pagination.current_page}} / {{pagination.last_page}} </span>
    <button class="pagination" v-on:click="fetchPaginateUsers(pagination.next_page_url)" :disabled="!pagination.next_page_url">Suivant</button>
</div>


</template>
<script>
    import Vue from 'vue'
    import store from '../store/index'
    export default {

        store:store ,
        data () {
          return {
              users: [],
              user :{
                  id:'',
                  name:'',
                  email:''
              },
              url:'/api/users',
              pagination:[]
          }
        },
        mounted(){
            this.getUsers()
        },
        methods : {
            getUsers(){
                let $this=this
                axios.get(this.url).then(response =>
                { this.users=response.data.data
                    $this.makePagination(response.data)

                }

                )
            },
            deleteUser(id,index){

                axios.delete('/api/users/'+id).then(response=>{
                        console.log('/api/users/'+id)
                        console.log(response)
                    this.users.splice(index)
                    }
                ).catch(e=>{
                    console.log(e)
                })
            },
            makePagination(data){
                let pagination ={
                    current_page:data.current_page,
                    last_page:data.last_page,
                    next_page_url:data.next_page_url,
                    prev_page_url:data.prev_page_url ,
                }
                this.pagination=pagination
            },
            fetchPaginateUsers(url){
                this.url=url
                this.getUsers()
            }

        }

    }
</script>
<style>

</style>