<template>
    <nav class="navbar navbar-expand-sm navbar-dark bg-info mb-2">
        <div class="container">
            <a href="#" class="navbar-brand">
                Mes Projets
            </a>
        </div>

    </nav>
</template>