<template>

    <div>

        <h1>My personnel project</h1>
        <nav aria-label="Page navigation example mb-2 ">
            <div class="pagination mb-4 align-content-center">
                <button class="btn btn-default" @click="fetchProjects(pagination.prev_page_url)"
                        :disabled="!pagination.prev_page_url">
                    Previous
                </button>
                <span>Page {{pagination.current_page}} of {{pagination.last_page}}</span>
                <button class="btn btn-default" @click="fetchProjects(pagination.next_page_url)"
                        :disabled="! pagination.next_page_url">Next
                </button>
            </div>
        </nav>
        <div class="card card-body mb-2" v-for="project  in projects"
             v-bind:key="project.id" >
            <h3>{{ project.title  }}</h3>
            <p>{{ project.body }}</p>
            <hr>
            <button @click="DeleteProjects(project.id)" class="btn btn-danger">Delete</button>

        </div>
    </div>
</template>
<script>
    export default {
        data(){
            return {
                projects:[],
                project:{
                    id:'',
                    title:'',
                    body:''
                },
                project_id:'',
                pagination:{},
                edit:false
            };
        },
        created(){
            this.fetchProjects();
        },
        methods:{
            fetchProjects(page_url){
                let vm =this;
                page_url=page_url ||  '/api/projects';
                fetch(page_url)
                    .then(response => response.json())
                    .then(json => {
                        this.projects=json.data;
                        vm.makePagination(json);
                        console.log(json.current_page);
                    }).catch(err=>console.log(err));
            },
            makePagination(data){
                let pagination = {
                    current_page: data.current_page,
                    last_page: data.last_page,
                    next_page_url: data.next_page_url,
                    prev_page_url: data.prev_page_url,

                };
                this.pagination=pagination;
            },
            deleteProject(id){
                if (confirm("Are You Sure to delete")){
                    fetch('/api/project/${id}',{
                        method :'delete'
                    })
                        .then(res => res.json())
                        .then(data => {

                            alert('Project Removed');
                            this.fetchProjects();
                        })
                        .catch(err=>console.log(err));
                }
            },

            DeleteProjects(id){
                Vue.delete('/api/project/' + id
                );



                this.fetchProjects();
            }

        }
    };
</script>